.form {
  padding-bottom: 20px;
  border-bottom: solid 3px #b911f3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.form h2 {
  font-size: 31px;
}
.form-control {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
  padding-bottom: 25px;
}
.form-control label,
.form-control .formInput,
.form-control select {
  font-size: 18px;
}
.form-control .formInput {
  width: 50%;
  padding: 4px 4px 4px 5px;
  border: solid 2px black;
  border-radius: 12px;
}
.form-control select {
  width: 53%;
  padding: 4px;
  border: solid 2px black;
  border-radius: 12px;
  background-color: #fff;
}
.form .myButton {
  background-color: #1ae32e;
  margin: 0 auto;
}
.pokemonImg {
  width: auto;
  height: 64px;
}
